@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    padding: 0;
    background-color: #f7f8fa;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Reset some AntD styles to map well with Tailwind */
.ant-upload-wrapper .ant-upload-drag {
  border: none !important;
  background: transparent !important;
}

.ant-upload-wrapper .ant-upload-drag .ant-upload {
  padding: 0 !important;
}
